deps/*
!deps/librdkafka.gyp
!deps/librdkafka
!deps/windows-install.*
.gitmodules
Dockerfile
deps/librdkafka/config.h
./schemaregistry
./schemaregistry-examples
./build
.github
.vscode
.semaphore
./examples
./test
./e2e
./bench
./ci
./proto