deps/*
!deps/librdkafka.gyp
!deps/librdkafka
!deps/windows-install.*
deps/librdkafka/tests
deps/librdkafka/examples
deps/librdkafka/debian
deps/librdkafka/packaging
.gitmodules
Dockerfile
deps/librdkafka/config.h
/schemaregistry
/schemaregistry-examples
/build
.github
.vscode
.semaphore
/examples
/test
/e2e
/bench
/ci
/proto
/docs

.nyc_output/
*lcov.info
**/lcov-report
