language: c
cache: ccache
env:
- ARCH=x64
compiler:
- gcc
- clang
os:
- linux
- osx
dist: trusty
sudo: false
before_script:
 - ccache -s || echo "CCache is not available."
script:
- rm -rf artifacts dest
- mkdir dest artifacts
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then CPPFLAGS="-I/usr/local/opt/openssl/include
  -L/usr/local/opt/openssl/lib" ./configure --enable-static --disable-lz4 --prefix="$PWD/dest" ; else ./configure --enable-static --disable-lz4 --prefix="$PWD/dest" ; fi
- make -j2 all examples check && make -C tests run_local
- make install
- (cd dest && tar cvzf ../artifacts/librdkafka.tar.gz .)
deploy:
  provider: s3
  access_key_id:
    secure: "i7IAO5z6xYeVaOnFiJOz0wluH7CfGf39TiABQG/yQIIp53fRu+X94FBUS7xq2PziKV08ak8pNWWjenwRB/viPTGqFQDS/ypymhSGGQVTmhgG372ypODhqbnvzskMNe1wp+UFIl8LFVEaHMVPEwWVuYpXhWNMHGrr4uSQhF+5r0Y="
  secret_access_key:
    secure: q7rWZkwQqyIFu3i32y/rJsKF1AJpwIqQe3AhBFEqjCz80mdEYysvcHBfl956EAAr4qbR3umIKbkhRwbBVyDGlMaraZiR7YFgAO+v0DRFeMiF5XFE3KHNIpCQHSKnzOiL65TpJHZIoB+6w0lAbBVzj87MBN0axAeArHKiO1y8Eec=
  bucket: librdkafka-ci-packages
  region: us-west-1
  skip_cleanup: true
  local-dir: artifacts
  upload-dir: librdkafka/p-librdkafka__bld-travis__plat-${TRAVIS_OS_NAME}__arch-${ARCH}__tag-${TRAVIS}__sha-${TRAVIS_COMMIT}__bid-${TRAVIS_BUILD_ID}
  on:
    condition: "$CC = gcc"
    repo: edenhill/librdkafka
    all_branches: true
    tags: true
